// Заголовки, общие БЄМ блоки и проче...

.page{
  &__main{

  }
}

.title{
  font-weight: 700;
  line-height: 0.92;
  font-size: rem(70);
  color: #fff;
  @include adaptiveValue("font-size", 70, 45);
  span{
    color:$greenColor;
  }
}

.form{
  &__input{

  }

  &__button{

  }
}